.agencyLevelContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(247, 247, 247), rgb(253, 253, 253));
  margin: 10px 5px 25px;

  & > h2 {
    font-size: 34px;
    text-shadow: 0px 3px 2px white, 0px 5px 7px black;
    margin-bottom: 50px;
  }
}

.agencyElementsContainer {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
}

.agencyElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 320px;
  width: 28%;

  & > h3 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0px 2px 2px white, 0px 4px 5px grey;
  }

  & > p {
    color: grey;
    margin: 5px 15px 15px;
    text-align: center;
  }

  & a {
    text-decoration: dashed underline darkgrey 1px;
    color: darkgrey;
  }
}

.agencyElement:hover {
  cursor: pointer;
  box-sizing: border-box;
  transform: scale(1.12);

  & a:hover {
    color: blue;
  }
}

.imgContainer {
  background: rgb(243, 243, 243);
  width: 56px;
  height: 62px;
  margin: 20px 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    border-radius: 25px;
    object-fit: cover;
  }
}
